        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            font-family: 'Roboto', sans-serif;
            margin:  0;
            padding: 0;
        }
        body a {
            text-decoration: none;
            margin:  0;
            padding: 0;
        }
        header {
            display: flex;
            align-items: center;
        }
        header p {
            margin: 0;
            padding: 0;
        }

        header a {
            color: #F9FAF8;
            padding: 10px;
        }

        .links {
            margin-right: 30px;
        }

        .header-logo {
            margin-right: auto;
            margin-left: 100px;
            padding: 10px;
            font-size: 24px;
            font-weight: bold;
            color: #F9FAF8;
        }
        .header-content, .front-page , footer {
            background-color: #1F2937;
        }

        .header-content {
            display: flex;
            align-items: center;
        }

        .placeholder-image img {
            width: 600px;
            height: 200px;
        }

        .front-page {
            display: flex;
            align-items: center;
            color: #F9FAF8;
            padding: 80px 0;
        }
        .introduce {
            max-width: 370px;
            margin-left: 100px;
            margin-right: 200px;
        }

        .front-page h1 {
            font-size: 48px;

        }
        .introduce a  {
            list-style-type: none;
            text-decoration: none;
            padding: 10px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 8px;
            font-weight: bold;
            background-color: #3b82f7;
            color: #F9FAF8;  
            transition: background-color 0.2s ease;
        }

        .introduce a:hover {
        background-color: #2563eb;
        }

        .information-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 0;
            padding-bottom: 120px;
        }
        .info-cards {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 48px;
            

        }
        .info-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 200px;
        }

        .info-items img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 12px;

        }

        .info-items p {
            text-align: center;
            font-size: 14px;
            color: #4b5563;
            margin-top: 8px;
            width: 100px;
        }

        .information-page h1 {
            text-align: center;
            margin-bottom: 100px;
            font-weight: 900;
        }

        .customer-line {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E5E7EB;
            padding: 100px 0;
        }
        .quote-container {
            max-width: 800px;
        }
        
        .customer-line q {
            font-size: 36px;
            color: #1F2937;
            font-weight: 300;
            font-style: italic;
            display: block;
        }
        .customer-line .author {
            text-align: right;
            font-size: 20px;
            color:#1F2937;
            margin-top: 10px;
        }

        .adv-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #3b82f7;
            color: #F9FAF8;
            margin: 100px 150px;
            padding: 50px 80px;
            border-radius: 8px;
        }

        .adv-item h2 {
            margin: 0;
            font-size: 24px;
            font-weight: bold;
            
        }
        
        .adv-item p {
            margin: 4px 0 0 0;
            font-size: 16px;
            color: #e5e7eb;
        }

        .adv-content button {
            background-color: transparent;
            color: #F9FAF8;
            border: 2px solid #F9FAF8;
            padding: 10px 32px;
            font-weight: bold;
            border-radius: 6px;
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px 80px;
            color: white;
        }